<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fazic</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/stylesheet.css"/>
    <%= Inesita.assets_code %>
  </head>
  <body>
  </body>
</html>
