$black:       rgb(  0,   0,   0);
$white:       rgb(255, 255, 255);
$red:         rgb(224,  64,  64);
$cyan:        rgb( 96, 255, 255);
$magenta:     rgb(224,  96, 224);
$green:       rgb( 64, 224,  64);
$blue:        rgb( 64,  64, 224);
$yellow:      rgb(255, 255,  64);
$orange:      rgb(224, 160,  64);
$brown:       rgb(156, 116,  72);
$pink:        rgb(255, 160, 160);
$dark_grey:   rgb( 84,  84,  84);
$grey:        rgb(136, 136, 136);
$light_green: rgb(160, 255, 160);
$light_blue:  rgb(160, 160, 255);
$light_grey:  rgb(192, 192, 192);

$background: #181914;
$text: #d3d9cd;
