.fazic {
  position: relative;
  background-color: #000;
  width: 1140px;
  height: 698px;
  margin-left: auto;
  margin-right: auto;
}

.canvas {
  position: absolute;
  left: 163px;
  top: 112px;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

/* scanlines */
.canvas::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}


@keyframes flicker {
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

.canvas::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  pointer-events: none;
  animation:flicker 0.15s infinite;
}

.overlay {
  background-image: url("/static/images/tv.jpg");
  background-size: 1140px 698px;
  width: 1140px;
  height: 698px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#status {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  margin-top: 315px;
  text-align: center;
  font-size: 40px;
  width: 950px;
}
