@font-face {
  font-family: 'Lakmus';
  src: url('/assets/fonts/LakmusFenotype.eot');
  src: url('/assets/fonts/LakmusFenotype.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/LakmusFenotype.woff2') format('woff2'),
    url('/assets/fonts/LakmusFenotype.woff') format('woff'),
    url('/assets/fonts/LakmusFenotype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Strasua';
  src: url('/assets/fonts/Strasua-Regular.eot');
  src: url('/assets/fonts/Strasua-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Strasua-Regular.woff2') format('woff2'),
    url('/assets/fonts/Strasua-Regular.woff') format('woff'),
    url('/assets/fonts/Strasua-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'C64Pro';
  src: url('/assets/fonts/C64ProMono.eot');
  src: url('/assets/fonts/C64ProMono.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/C64ProMono.woff2') format('woff2'),
    url('/assets/fonts/C64ProMono.woff') format('woff'),
    url('/assets/fonts/C64ProMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
