.examples {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 5px;

    a {
      color: $light-blue;
      text-decoration: none;
      font-size: 12px;
    }

    a:hover {
      color: $yellow;
    }

    .name {
      font-size: 12px;
      color: $light-blue;
      font-family: 'C64Pro';
    }

    .description {
      margin: 5px 0 0 0;
    }

    .copy {
      font-size: 12px;
      margin: 0 5px 0 0;
    }
  }
}
