body {
  background-color: $background;
  color: $text;
  font-family: "Tahoma";
  font-weight: 0px;
}

nav {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding-left: 25px;
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin-right: 25px;
    }
  }
}

a {
  text-decoration: none;
  color: $text;
}

a:hover, a.active {
  text-decoration: none;
  color: $yellow;
}

p.image {
  text-align: center;
}
.container {
  background-color: $background;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-top: 1px solid #d4dace;
  min-height: 500px;
}

.content {
  margin: 0 140px;
  border: 1px solid $text;
  border-top: none;
  padding: 25px;
}

h1 {
 font-family: 'Lakmus';
 font-weight: normal;
 font-style: normal;
 font-size: 100px;
 margin-bottom: 0;
 margin-top: 10px;
 color: $cyan;
 text-align: center;
}

h2 {
 font-family: 'Strasua';
 font-weight: normal;
 font-style: normal;
 font-size: 30px;
 margin-top: 0px;
 color: $yellow;
 text-align: center;
}

h3 {
 font-family: 'Strasua';
 font-weight: normal;
 font-style: normal;
 font-size: 18px;
 margin-top: 0px;
 color: $pink;
 text-align: center;
}

pre {
  padding: 20px;
  font-family: 'C64Pro';
  font-size: 14px;
  background-color: $blue;
  color: $light-blue;
}


footer {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
