.programs {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-family: 'C64Pro';
    margin-bottom: 5px;

    a {
      color: $light-blue;
      text-decoration: none;
    }

    a:hover {
      color: $yellow;
    }

    .name {
      font-size: 14px;
      color: $light-blue;
    }

    pre {
      padding: 20px;
      font-family: 'C64Pro';
      font-size: 14px;
      background-color: $blue;
      color: $light-blue;
    }

  }
}
