@font-face {
  font-family: 'Lakmus';
  src: url("/static/fonts/LakmusFenotype.eot");
  src: url("/static/fonts/LakmusFenotype.eot?#iefix") format("embedded-opentype"), url("/static/fonts/LakmusFenotype.woff2") format("woff2"), url("/static/fonts/LakmusFenotype.woff") format("woff"), url("/static/fonts/LakmusFenotype.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Strasua';
  src: url("/static/fonts/Strasua-Regular.eot");
  src: url("/static/fonts/Strasua-Regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Strasua-Regular.woff2") format("woff2"), url("/static/fonts/Strasua-Regular.woff") format("woff"), url("/static/fonts/Strasua-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'C64Pro';
  src: url("/static/fonts/C64ProMono.eot");
  src: url("/static/fonts/C64ProMono.eot?#iefix") format("embedded-opentype"), url("/static/fonts/C64ProMono.woff2") format("woff2"), url("/static/fonts/C64ProMono.woff") format("woff"), url("/static/fonts/C64ProMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #181914;
  color: #d3d9cd;
  font-family: "Tahoma";
  font-weight: 0px; }

nav {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  max-width: 1005px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding-left: 25px;
  text-align: center; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline;
      margin-right: 25px; }

a {
  text-decoration: none;
  color: #d3d9cd; }

a:hover, a.active {
  text-decoration: none;
  color: #ffff40; }

p.image {
  text-align: center; }

.container {
  background-color: #181914;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-top: 1px solid #d4dace; }

.content {
  margin: 0 140px;
  border: 1px solid #d3d9cd;
  border-top: none;
  padding: 25px;
  min-height: 500px; }

h1 {
  font-family: 'Lakmus';
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 10px;
  color: #60ffff;
  text-align: center; }

h2 {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  margin: 0;
  color: #ffff40;
  text-align: center; }

h3 {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #ffa0a0;
  text-align: center; }

.social {
  font-size: 32px;
  color: #ffa0a0;
  text-align: center;
  margin: 8px 0 0 0; }

.social a {
  margin: 0 15px; }

pre {
  padding: 20px;
  font-family: 'C64Pro';
  font-size: 12px;
  background-color: #4040e0;
  color: #a0a0ff; }

footer {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.bold {
  font-weight: bold; }

@media screen and (min-width: 800px) {
  .stripes {
    position: relative; }

  .stripes .s1l {
    background-color: #60ffff;
    width: 25px;
    height: 250px;
    position: absolute;
    left: 35px; }

  .stripes .s2l {
    background-color: #ffff40;
    width: 25px;
    height: 350px;
    position: absolute;
    left: 60px; }

  .stripes .s3l {
    background-color: #ffa0a0;
    width: 25px;
    height: 450px;
    position: absolute;
    left: 85px; }

  .stripes .s3r {
    background-color: #60ffff;
    width: 25px;
    height: 250px;
    position: absolute;
    left: calc(100% - 60px); }

  .stripes .s2r {
    background-color: #ffff40;
    width: 25px;
    height: 350px;
    position: absolute;
    left: calc(100% - 85px); }

  .stripes .s1r {
    background-color: #ffa0a0;
    width: 25px;
    height: 450px;
    position: absolute;
    left: calc(100% - 110px); } }
.fazic {
  position: relative;
  background-color: #000;
  width: 1140px;
  height: 698px;
  margin-left: auto;
  margin-right: auto; }

.canvas {
  position: absolute;
  left: 163px;
  top: 112px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; }

/* scanlines */
.canvas::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none; }

@keyframes flicker {
  0% {
    opacity: 0.3302013094; }
  5% {
    opacity: 0.2587007501; }
  10% {
    opacity: 0.1499576938; }
  15% {
    opacity: 0.5395220323; }
  20% {
    opacity: 0.5550897697; }
  25% {
    opacity: 0.4927837954; }
  30% {
    opacity: 0.7397757289; }
  35% {
    opacity: 0.5363872042; }
  40% {
    opacity: 0.4844579609; }
  45% {
    opacity: 0.0885856587; }
  50% {
    opacity: 0.8167079492; }
  55% {
    opacity: 0.6280533824; }
  60% {
    opacity: 0.803599133; }
  65% {
    opacity: 0.6571343719; }
  70% {
    opacity: 0.226597469; }
  75% {
    opacity: 0.1670602756; }
  80% {
    opacity: 0.8144180579; }
  85% {
    opacity: 0.3169936485; }
  90% {
    opacity: 0.3486361339; }
  95% {
    opacity: 0.2075235633; }
  100% {
    opacity: 0.4839037745; } }
.canvas::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  pointer-events: none; }

#flick {
  position: relative;
  top: 695px; }

#flick-label {
  font-family: 'Strasua';
  position: relative;
  top: 695px;
  font-size: 10px; }

#flick:checked ~ .canvas::after {
  animation: flicker 0.15s infinite; }

.overlay {
  background-image: url("/static/images/tv.jpg");
  background-size: 1140px 698px;
  width: 1140px;
  height: 698px;
  position: absolute;
  top: 0px;
  left: 0px; }

#status {
  font-family: 'Strasua';
  font-weight: normal;
  font-style: normal;
  margin-top: 315px;
  text-align: center;
  font-size: 40px;
  width: 950px; }

.programs {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .programs li {
    font-family: 'C64Pro';
    margin-bottom: 5px; }
    .programs li a {
      color: #a0a0ff;
      text-decoration: none;
      font-size: 12px; }
    .programs li a:hover {
      color: #ffff40; }
    .programs li .name {
      font-size: 12px;
      color: #a0a0ff; }

.commands_toc {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .commands_toc li {
    font-family: 'C64Pro';
    float: left;
    margin: 0 5px 5px 0;
    font-size: 12px; }
    .commands_toc li a {
      color: #a0a0ff;
      text-decoration: none; }
    .commands_toc li a:hover {
      color: #ffff40; }

.commands_toc::after {
  content: " ";
  clear: both;
  display: block; }

.commands {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .commands li {
    margin-top: 50px; }
    .commands li a {
      color: #a0a0ff;
      text-decoration: none; }
    .commands li a:hover {
      color: #ffff40; }
    .commands li .name {
      font-family: 'C64Pro';
      font-size: 12px;
      color: #a0a0ff;
      margin-top: 15px;
      margin-bottom: 5px; }

.examples {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .examples li {
    margin-bottom: 5px; }
    .examples li a {
      color: #a0a0ff;
      text-decoration: none;
      font-size: 12px; }
    .examples li a:hover {
      color: #ffff40; }
    .examples li .name {
      font-size: 12px;
      color: #a0a0ff;
      font-family: 'C64Pro'; }
    .examples li .description {
      margin: 5px 0 0 0; }
    .examples li .copy {
      font-size: 12px;
      margin: 0 5px 0 0; }

@media screen and (max-width: 800px) {
  .content {
    margin: 0 25px; } }
@media screen and (max-width: 720px) {
  body {
    font-size: 12px; }

  .container {
    margin: 0 5px; }

  .content {
    margin: 0 10px; }

  h1 {
    font-size: 50px;
    margin-top: 15px; }

  h2 {
    font-size: 20px; }

  h3 {
    font-size: 14px; }

  nav {
    font-size: 10px;
    padding-left: 15px; }

  footer {
    font-size: 7px; } }
