body {
  background-color: #000;
}

.container {
  position: relative;
  background-color: #000;
  width: 1140px;
  height: 698px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#canvas {
  padding: 0px;
  border: 0px none;
  width: 640px;
  height: 480px;
  position: absolute;
  left: 158px;
  top: 112px;
}


.overlay {
  background-image: url("tv.png");
  background-size: 1140px 698px;
  width: 1140px;
  height: 698px;
  position: absolute;
  top: 0px;
  left: 0px
}
